[submodule "container-env-ts-template"]
	path = container-env-ts-template
	url = https://github.com/stack-spot/container-env-ts-template
[submodule "pipeline-env-ts-plugin"]
	path = pipeline-env-ts-plugin
	url = https://github.com/stack-spot/pipeline-env-ts-plugin.git
[submodule "cdk-env-ts-template"]
	path = cdk-env-ts-template
	url = https://github.com/stack-spot/cdk-env-ts-template.git
[submodule "skynet-sre-ts-catalog"]
	path = skynet-sre-ts-catalog
	url = https://github.com/stack-spot/skynet-sre-ts-catalog
[submodule "sns-env-ts-plugin"]
	path = sns-env-ts-plugin
	url = https://github.com/stack-spot/sns-env-ts-plugin.git
[submodule "task-definition-app-ts-template"]
	path = task-definition-app-ts-template
	url = https://github.com/stack-spot/task-definition-app-ts-template.git
